html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
  background: rgba(89,171,115,1);
  background: -moz-linear-gradient(left, rgba(89,171,115,1) 0%, rgba(100,113,141,1) 42%, rgba(116,33,176,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89,171,115,1)), color-stop(42%, rgba(100,113,141,1)), color-stop(100%, rgba(116,33,176,1)));
  background: -webkit-linear-gradient(left, rgba(89,171,115,1) 0%, rgba(100,113,141,1) 42%, rgba(116,33,176,1) 100%);
  background: -o-linear-gradient(left, rgba(89,171,115,1) 0%, rgba(100,113,141,1) 42%, rgba(116,33,176,1) 100%);
  background: -ms-linear-gradient(left, rgba(89,171,115,1) 0%, rgba(100,113,141,1) 42%, rgba(116,33,176,1) 100%);
  background: linear-gradient(to right, rgba(89,171,115,1) 0%, rgba(100,113,141,1) 42%, rgba(116,33,176,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ab73', endColorstr='#7421b0', GradientType=1 );
}